ion-title{
  text-align: center;
  height:7vh;
}

.divForm{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

ion-input{
  width:100%;
  padding:2px;
}

ion-label{
  width:100%;
  padding:4px;
}

.submitBtn{
  width:100%;
}
