page-register{

  #userNameP{
    color: red;
    font-size: 12px;
    padding: 0;
    margin:0;
    margin-top:5px;
  }
  .list-ios .item-input:last-child {
    border-bottom: 1px solid #dedede;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #000000;
  }

  .mobile-login {
    background-image: url('../assets/imgs/mobile_login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .core-login {
    background-image: url('../assets/imgs/core_login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
