<ion-header>
  <ion-navbar>
      <ion-title>Rewards</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onSearchInput($event)"
  (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let reward of rewards">
      <ion-thumbnail item-start >
        <img src={{reward.image}}>
      </ion-thumbnail>
      <h2>{{reward.name}}</h2>
      <p>{{reward.areaName}}</p>
      <p>{{reward.coinValue}} ERP-Coin</p>
      <button ion-button clear item-end (click)="picked(reward.id)">View</button>
    </ion-item>
  </ion-list>
  <!--<ion-grid>
    <ion-row>
      <ion-col  *ngFor="let reward of rewards" class="area-card" col-lg-4 col-md-6 col-sm-12 col-12>
        <ion-card (click)="picked(reward.id)">
          <img src={{reward.image}}>
          <ion-card-header color="white">
            <ion-item><b>{{reward.name}}</b></ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item><h1 id="left">{{reward.areaName}}</h1><h2 id="right"><b>Cost:</b> {{reward.coinValue}} ERP-Coin</h2></ion-item>
              <ion-item><p>{{reward.description}}</p></ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->
</ion-content>
