page-rewards{

  #left{
    float: left;
  }

  #right{
    float:right;
  }

  img
  {
    object-fit: contain;
  }

  .item ion-thumbnail {
    min-width: 15rem;
    img {
        max-width: 15rem;
        min-width: 15rem;
    }
}
}
