page-rewards{

  #left{
    float: left;
  }

  #right{
    float:right;
  }
  /*ion-header{
    position:fixed;
    height:40px;
  }

  ion-title{
    text-align: center;
    width:100%;
    position:fixed;
    margin-top:10px;

  }

  #backIcon{
    color: #AD2EFE;
    margin:auto;
    font-size: 3em;
    padding-left:1%;
    text-align:center;
    width:100%;
  }

  #backButton{
    background-color: white;
    width:5%;
    margin-left:0%;
	position:relative;
	float:left;
	z-index:5;
  }

  @media(max-width: 900px) {
    .divForm{
      display:block;
      width:80%;
      margin-left:auto;
      margin-right:auto;
    }
  }

  @media(min-width: 900px) {
    ion-content{
      width:40%;
    }
  }*/
}
