page-splash{
  @keyframes loadingAnimation{
    0%{opacity: 0;}
    99%{opacity: 1;}
    100%{opacity: 0;}

  }

  img{
    animation-name:loadingAnimation;
    animation-duration:6s;
    height:70vh;
    width:100%;
    display:block;
    margin:auto;
    align-items:center;
    object-fit:contain;
  }
}
