page-conservation{

  .card-ios p{
    color: color($colors, white);
}

.card-md p{
    color: color($colors, white);
}

.area-card .card-ios {
    background: linear-gradient(45deg, color($colors, primary) 0%, color($colors, secondary) 50%, color($colors, tertiary) 100%);
}

.area-card .card-md {
    background: linear-gradient(45deg, color($colors, primary) 0%, color($colors, secondary) 50%, color($colors, tertiary) 100%);
}
}
