button{
  height:80%;
  background-color:white;
  color: #AD2EFE;
  padding:5vh;
  display:inline-block;
  border: 2px solid #AD2EFE;
}

ion-icon{
  height:100%;
}

ion-title{
  display:inline-block;
}
