page-map{

  ion-toolbar, .toolbar{
    background: white;
  }

  #map {
    width: 100%;
    height:100%;
  }

  #coins{
    position: absolute;
    bottom: 50%;
    z-index: 1000;
  }

  #coinGif{
    width: 20%;
    margin-left: 40%;
    position:fixed;
  }

 .coinFlip{
    -webkit-animation-name: coinFlip;
    -webkit-animation-duration: 4s;
    animation-name: coinFlip;
    animation-duration: 4s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
 }

 .hide{
   visibility: hidden;
 }

 @keyframes coinFlip{
   0%   {bottom: 0px; opacity: 1;}
   50%  {bottom: 200px; opacity: 1;}
   100% {bottom: 200px; opacity: 0;}
 }

 @-webkit-keyframes coinFlip{
   0%   {bottom: 0px; opacity: 1;}
   50%  {bottom: 200px; opacity: 1}
   100% {bottom: 200px; opacity: 0;}
 }

}
