page-viewAlert{
  #topR{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }

  p{
    font-size: 1.25em;
  }

  img{
    background-color: white;
    width:100%;
  }

}
