page-sendErp{
  /*@media(max-width: 900px) {
    .divForm{
      display:block;
      width:100%;
      margin-left:auto;
      margin-right:auto;
    }
  }

  @media(min-width: 900px) {
    .divForm{
      display:block;
      width:100%;
      margin-left:auto;
      margin-right:auto;
    }
  }*/
}
