// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*ion-backdrop{
  visibility:visible !important;
  z-index:auto;
}

@media(max-width: 900px) {
  .modal-wrapper{
      width: 70%;
      height: 65%;
      margin-top: 20%;
      margin-left: 15%;

  }
}

@media(min-width: 900px) {
  .modal-wrapper{
      width: 40%;
      height: 70%;
      top: 15%;
      left: 30%;
      background-color: black;
      opacity:0.5;
  }
}


.scroll-content{
    overflow-y: auto !important;
}*/
