page-sendAlert {

  #photoLabel{
    font-size:1.1em;
    color: #999;
  }

  #photoDiv{
    border: solid 1px #999;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    height: auto;
  }

  #add{
    font-size: 44px;
    margin-bottom: -10px;
    margin-top: 10px;
    color: #999;
  }

  .profile-image {
    max-width: 100%;
    margin:auto;
    padding:0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .profile-image-placeholder {
    display: inline-block;
    width: 96px;
    height: 96px;
    font-size: 12px;

  }

  .profile-image-wrapper {
    text-align: center;
  }
}
