<ion-header>

<ion-navbar>
    <ion-title>Send Alert</ion-title>
    <ion-buttons end>
    <button ion-button (click)="closeModal()"><ion-icon name="close-circle"></ion-icon></button>
    </ion-buttons>
</ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="form" (submit)="sendFunc(form.value)">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-10 offset-1>
              <ion-item no-lines>
                <ion-input formControlName="title" type="text" placeholder="Title" maxlength="30"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1>
              <ion-item no-lines>
                <ion-textarea formControlName="description" maxlength="255" size="300" type="text" maxlength="255" placeholder="Description"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1>
              <ion-item no-lines>
                <ion-label>&ensp;Severity</ion-label>
                <ion-select text-left formControlName="severity">
                  <ion-option value=0>{{severities[0]}}</ion-option>
                  <ion-option value=1>{{severities[1]}}</ion-option>
                  <ion-option value=2>{{severities[2]}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1>
              <!--<ion-item no-lines>-->
              <ion-label id="photoLabel">Image</ion-label>
              <div id="photoDiv">
                <img class="profile-image" src="{{imageData}}" *ngIf="this.form.controls.profilePic.value">
                <div *ngIf="!this.form.controls.profilePic.value">
                <input type="file" accept="image/*" #fileInput name="files[]" style="visibility: hidden; height: 0px; width: 0px;" (change)="processWebImage($event)" />
                  <div class="profile-image-wrapper" (click)="getPicture()">
                    <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
                      <ion-icon id="add" name="add" *ngIf="loadingImg==false"></ion-icon>
                      <ion-spinner name="circles" *ngIf="loadingImg==true"></ion-spinner>
                    </div>
                    <!--<div class="profile-image" [style.backgroundImage]="getProfileImageStyle()"></div>-->
                  </div>
                </div>
              </div>
              <!--</ion-item>-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-8 offset-2>
            <button ion-button round outline type="submit" block>Send</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
