<ion-header>

<ion-navbar>
    <ion-title>Send Alert</ion-title>
    <ion-buttons end>
    <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
</ion-navbar>
</ion-header>
<ion-content padding>
  <div class="divForm">
    <form [formGroup]="form" (submit)="sendFunc(form.value)">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-10>
              <ion-item no-lines>
                <ion-label floating>Alert Title</ion-label>
                <ion-input formControlName="title" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-10>
              <ion-item no-lines>
                <ion-label floating>Description</ion-label>
                <ion-input formControlName="description" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-10>
              <ion-item>
                <ion-label>Severity</ion-label>
                <ion-select formControlName="severity">
                  <ion-option value=0>{{severities[0]}}</ion-option>
                  <ion-option value=1>{{severities[1]}}</ion-option>
                  <ion-option value=2>{{severities[2]}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col  col-1></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-10>
              <!--<ion-item no-lines>-->
                <ion-label stacked>Image</ion-label>
                  <input type="file" accept="image/*" #fileInput name="files[]" style="visibility: hidden; height: 0px;" (change)="processWebImage($event)" />
                  <div class="profile-image-wrapper" (click)="getPicture()">
                    <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
                      <ion-icon name="add"></ion-icon>
                    </div>
                    <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
                  </div>
              <!--</ion-item>-->
            </ion-col>
            <ion-col col-1></ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-1></ion-col>
          <ion-col col-10>
            <button ion-button type="submit" class="submitBtn" block>Send</button>
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
