page-receiveErp{
  @media(max-width: 900px) {
    .divForm{
      display:block;
      width:100%;
      margin-left:auto;
      margin-right:auto;
    }
  }

  @media(min-width: 900px) {
    .divForm{
      display:block;
      width:100%;
      margin-left:auto;
      margin-right:auto;
    }
  }

  p{
    color:black;
  }

  #code{
    margin:5%;
  }

  #qr{
    margin-left:10%;
  }

  img{
    width:80%;
    margin-left:10%;
  }

}
