page-account {
  ion-col{
    
  }
  button{
    width:100%;
    background-color:white;
    border:solid 1px #AD2EFE;
    color: #AD2EFE;
    border-radius: 4px;
    height:10vh;
    display:block;
    margin:auto;
  }

  img{
  height:70vh;
  width:100%;
  display:block;
  margin:auto;
  align-items:center;
  object-fit:contain;
}
}
